/* menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
} */
.navbar{
  list-style-type: disc;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  /* float: left; */

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.nav{
  float: left;
}

.nav-li{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body{
	background: url(/bg2.JPG) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: #fff;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*follwing style is for skills section*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width*/
  /* background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.jvc {width: 80%; background-color: #04AA6D; border-radius: 25px} /* Green */
.pls {width: 90%; background-color: #2196F3;border-radius: 25px} /* Blue */
.html {width: 40%; background-color: #f44336;border-radius: 25px} /* Red */
.discord {width: 100%; background-color: #808080;border-radius: 25px} /* Dark Grey */
.mgmt {width: 70%; background-color: #04AA6D;border-radius: 25px} /* Green */
.ba {width: 65%; background-color: #2196F3;border-radius: 25px} /* Blue */
.ps {width: 80%; background-color: #f44336;border-radius: 25px} /* Red */
.web3 {width: 90%; background-color: #808080;border-radius: 25px} /* Dark Grey */
